.bonus {
    background: url(../images/bonus-back.png);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;

    .bonus-header {
        background: linear-gradient(269.82deg, #639A00 -2.39%, rgba(196, 196, 196, 0) 85.86%);
        border-radius: 0px 50px 50px 0px;
        display: flex;
        align-items:center;
        padding-right: 1rem;

        h2 {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            font-size: 1.3rem;
            line-height: 1;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: $light-font;
           }
           span{
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
    font-size: 4rem;
    color: $light-font;
    margin-left: 2rem;
}
    }
    .bonus-image{
width: 30%;
    }
}