.footer{
    background:$dark-font;
    color: $light-font;
    @include df-row-center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    position: relative;
    .logo{
        width: 5rem;
        margin: 0 auto;
    }
    .nav-ul{
        width: 100%;
        @include df-row-center;
        justify-content: space-between;
      
        a.nav-item{
        color:$light-font;
        // margin: 1rem auto;
       // white-space: nowrap;
        
    }
    } 
    .social-icons{
        width: 50%;
        @include df-row-center;
        justify-content: space-between;
        // img{
        //     width: 36px;
        // }
    }
    .footer-column{
        @include df-column-center;
        justify-content: center;
        
        margin: 0 auto;
    }
    .footer-column.contacts{
      //  justify-content: flex-start;
        a{
            margin: 1rem;
            text-decoration: none;
            display: block;
            color: $light-font;
            font-family: 'Raleway', sans-serif;
            font-weight:300;
        }
        .phone{
            margin-top: 2rem;
            margin-bottom: 0rem;
        }
    }
.rights{
    position: absolute;
    bottom: .1rem;
    right: .1rem;
    font-size: .7rem;
}
}
@media (max-width: 768px) {
    .footer{
        align-items:flex-start;
        .nav-ul{
            margin: 0;
            flex-direction: column;
            padding: 0;
        }
        .footer-column.contacts .phone{
            margin-top: 0;
        }
        .social-icons{
            width: 100%;
            margin: 2rem auto;
        }
    }
}