.dayli-menu{
    padding: 2rem 4rem;
    color:$dark-font;
    // background:#FFFDF9;
    .order-btn{
max-width: 200px;
min-width: 200px;
        margin: 1rem 1rem;
        margin-bottom: 2rem;
        padding: 1rem 4rem;

    }
    .menu-tabs{
        .tabs-btn{
            padding: 1rem 2rem;
            background-color: $light-font;
            border: 1px solid $accent-green;
           
            border-top-left-radius:30px;
            border-bottom-right-radius: 30px;
            margin: 1rem 0rem;
            font-family: 'Raleway', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            transition-property: color, background-color;
           // transition-delay: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
            transition-timing-function: ease-in, ease-in;
            cursor: pointer;
     color: $accent-green;
            &:hover {
               // background-color: $accent-purple;
                color: $accent-purple;
               // border: 1px solid $accent-purple;
            }
        }
        .tabs-btn.active{
            background-color: $accent-purple;
            color: $light-font;
            border: 1px solid $accent-purple;
        }


    }

.menu-cards-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    .menu-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: scroll;
        list-style-type: none;
      

    }
    .menu-cards::-webkit-scrollbar-track {
            box-shadow: 5px 5px 5px -5px #76489b9f inset;
            background-color: $light-font;
        }


        .menu-cards::-webkit-scrollbar {
            width: 10px;
            background: linear-gradient(269.82deg, #FFCA41 -2.39%, rgba(196, 196, 196, 0) 85.86%);
          }
        .menu-cards::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: linear-gradient(269.82deg, #FFCA41 -2.39%, rgba(196, 196, 196, 0) 85.86%);
            
          }
          
         
       
     .card{
            width: 30%;
            max-width: 300px;
            min-width: 300px;
            margin: 1rem ;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include shadow;
            position: relative;
          padding-top: 230px;
            border-radius:10px;
            overflow: hidden;
            .card-content{
                list-style-type: none;
                padding-right: 1rem;
                padding-left: 2rem;
                p{
                    margin: 0;
                }
               
            }

            img{
                position: absolute;
                top: -20%;
                left: -10%;
                width: 115%;
            }
            .card-title{
                padding: 0 2rem ;
                text-transform: uppercase;
                font-family: 'Raleway', sans-serif;

            }
            .card-price{
                padding: 0 2rem;
                text-transform: uppercase;
                font-family: 'Raleway', sans-serif;
                font-size: 2rem;
                font-weight: 500;
                margin: 0;
                margin-bottom: 2rem;

            }
          

        }
    .kcal{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-bottom: 1rem;
        .kcal-item{
            width: 45px;
            height: 45px;
            border-radius:50%;
            background:$accent-green;
            color: $light-font;
            font-family: 'Raleway', sans-serif;
            font-size: .9rem;
            font-weight: 600;
            display: flex;
            align-items:center;
            justify-content: center;
            text-align: center;

        }
    }
}