.main-slider {
    width: 100%;
    background: #FFFDF9;
    background: url(../images/spot.png);
    position: relative;
    background-size: contain;
    background-position: 135% -100px;
    background-repeat: no-repeat;
 
    .slide {
        margin: 0;
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        .slide-header {
            color: $dark-font;
            width: 45vw;
            transition: transform .3s ease-in;

            h1 {
              //  min-height: 9rem;
              max-width: 6.25rem;
                padding-top: 30%;
                padding-left: 2rem;
                margin: 0;
                font-family: 'Playfair', serif;
                font-style: normal;
                font-weight: 900;
                font-size: 3.5rem;
                line-height: 1;
                text-transform: uppercase;
                
            }

            h3 {

                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 1.3rem;
                line-height: 1;
                padding-left: 2rem;
                margin-bottom: 2rem;

            }
        }

        .slide-image {
            margin-top: 40px;
            display: flex;

            img {
                width: 50vw;
            }

            &__content {
                display: flex;
                margin: 0 auto;
                flex-direction: row;
                justify-content: space-between;

            }
        }

    }

    .slide-btns {
        display: flex;
        

        .slide-btn {
            cursor: pointer;

            background: #ffffff00;
            margin: .5rem;
            border: none;
            position: relative;
        
            display: flex;

            
            img {
                transition: transform .3s ease-in;
                width: 4rem;
            }


           

        }

        .slide-btn.active {

          
            img {
                transform: scale(1.1);
            }

            
        }



    }

    .social-icons {
        display: flex;
        flex-direction: column;
        top: 25%;
        position: absolute;
        right: 0;

        .social-icon {
            svg {

                fill: red;
            }

            margin: .5rem;
        }

        img {
            width: 30px;
            margin: .5rem;

        }
    }

}


@media all and (min-width: 1024px) {


    .main-slider .slide-btns .slide-btn:hover {

      
        img {
            transform: scale(1.1);
        }

       

    }


}


@media all and (max-width: 1024px) {
    .main-slider .social-icons {
        display: none;
    }

    .main-slider .slide .slide-header h1 {
        font-size: 3rem;
    }
}

@media all and (max-width: 768px) {
    .main-slider {
        padding: 2rem;
        background-position: 150px 0px;
        background-size: 150%;

        .slide {
            align-content: flex-start;
            //  
            padding: 0rem 0rem;
            margin: 0;
            justify-content: center;

            .slide-header {
                width: 100%;
                padding-top: 20%;

                h1 {
                    font-size: 1.8rem;
                    padding: 1rem;
                    padding-bottom: 0;
                 //   min-height: 2rem;
                }

                h3 {
                    font-size: 1rem;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    margin-top: 0;

                }
            }

            .slide-image {
                width: 100%;

                // &__content {
                //     flex-direction: column-reverse;
                // }

                img {
                    //new
                    margin: 0 auto;
                    width: 50vw;
                    // margin-left: 4rem;
                }
            }

        }

        .slide-btns {
            width: 70%;


            .slide-btn {


                margin-left: 0;

            }

            .slide-btn.active {
                border: 1px solid $accent-purple;
                color: $accent-purple;

                .btn-icon {
                    display: flex;
                }
            }
        }

        .social-icons {
            display: none;
        }

    }


}

@media all and (max-width: 540px) {
    .main-slider {


        .slide {




            .slide-image {
                img {
                    width: 70vw;
                }

                &__content {
                    flex-direction: column-reverse;
                    padding-right: 1rem;
                }


            }

            .slide-header {

                padding-top: 0;

            }

        }


    }

}

@media all and (max-width: 416px) {
    .main-slider{
        padding: 1rem;
    }
    .main-slider .slide .slide-header h1 {
        padding-left: 0;
       // text-align: center;
    }

    .main-slider .slide .slide-header h3 {
        padding-left: 0;
      //  text-align: center;
    }
}