.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.wrapper .nav-bar {
  position: absolute;
  z-index: 10;
  background: #6bbd27;
  padding: 2rem;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

.wrapper .nav-bar .nav-ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.wrapper .nav-bar .nav-ul li {
  padding-bottom: 2rem;
}

.wrapper .nav-bar .nav-ul a.nav-item {
  color: #fcfffc;
}

.wrapper .nav-bar .nav-ul a.nav-item::before {
  content: '';
  width: 0%;
  height: 1px;
  background: #f9ca47;
  position: absolute;
  top: 1.2rem;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}

.wrapper .nav-bar .nav-ul a.nav-item:hover {
  color: #f9ca47;
}

.wrapper .nav-bar .nav-ul a.nav-item:hover::before {
  width: 100%;
}

.wrapper .nav-bar .social-icons {
  margin-left: 3.6rem;
}

.wrapper .nav-bar .social-icons img {
  margin-right: 1rem;
}

.wrapper .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .nav-ul a.nav-item {
  text-decoration: none;
  color: #2f261b;
  position: relative;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 500;
  white-space: nowrap;
  margin: 1rem;
}

.wrapper .nav-ul a.nav-item::before {
  content: '';
  width: 0%;
  height: 1px;
  background: #6bbd27;
  position: absolute;
  top: 1.2rem;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}

.wrapper .nav-ul a.nav-item:hover {
  color: #6bbd27;
}

.wrapper .nav-ul a.nav-item:hover::before {
  width: 100%;
}

.wrapper .section-header {
  background: linear-gradient(269.82deg, rgba(255, 202, 65, 0.5) -2.39%, rgba(196, 196, 196, 0) 85.86%);
  border-radius: 0px 50px 50px 0px;
  padding: 1rem;
  font-family: 'Playfair', serif;
  max-width: 40%;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #2f261b;
  margin-bottom: 2rem;
  margin-top: 4rem;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: .6s, 0.3s;
          transition-delay: .6s, 0.3s;
  -webkit-transition-timing-function: ease-in, ease-in;
          transition-timing-function: ease-in, ease-in;
  -webkit-transition-duration: .3s, 0.3s;
          transition-duration: .3s, 0.3s;
}

.wrapper .section-header span {
  color: #76489b;
}

.wrapper .small-header {
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper .order-btn {
  padding: 1rem 2rem;
  background-color: #6bbd27;
  border: none;
  border-radius: 30px;
  margin: 1rem 2rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: ease-in, ease-in;
          transition-timing-function: ease-in, ease-in;
  cursor: pointer;
  color: #fcfffc;
}

.wrapper .order-btn:hover {
  background-color: #76489b;
}

.wrapper .regular-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

.wrapper .small-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.wrapper .opacity {
  opacity: 0;
}

.wrapper .transformTransX {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

.wrapper .displayNone {
  display: none;
}

.wrapper .transform45deg {
  -webkit-transform: rotate(45deg) translateY(11px) translateX(11px);
          transform: rotate(45deg) translateY(11px) translateX(11px);
}

.wrapper .transformMin45deg {
  -webkit-transform: rotate(-45deg) translateY(-11px) translateX(11px);
          transform: rotate(-45deg) translateY(-11px) translateX(11px);
}

.wrapper .translate {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

.wrapper ::-webkit-scrollbar {
  width: 0;
}

.wrapper .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.wrapper .transformRotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#page-up {
  opacity: 0;
  position: fixed;
  z-index: 50;
  bottom: 250px;
  right: 1rem;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .wrapper .order-btn {
    margin: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .wrapper .section-header {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 0;
    font-size: 1.3rem;
    max-width: 60%;
  }
  .wrapper .regular-text {
    font-size: 1rem;
  }
  .wrapper .nav-bar {
    left: 20%;
  }
}

@media all and (max-width: 414px) {
  .wrapper .section-header {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 0;
    font-size: 1.2rem;
    max-width: 90%;
  }
  .wrapper .regular-text {
    font-size: 1rem;
    line-height: 1.1;
  }
  .wrapper .small-header {
    font-weight: 400;
    text-transform: none;
  }
  .wrapper .nav-bar {
    left: 20%;
  }
}

@font-face {
  font-family: 'Playfair', serif;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format(ttf);
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format(ttf);
}

.about {
  background: #f4f8f1;
  padding: 2rem 4rem;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content .regular-text {
  max-width: 600px;
  margin-left: 1rem;
}

.about-image {
  margin: 0 auto;
  width: 50%;
}

.about-image img {
  width: 100%;
  max-width: 800px;
}

.team {
  padding: 2rem 4rem;
}

.about-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-team .team-item {
  min-width: 300px;
  max-width: 300px;
  margin: .5rem auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fcfffc;
  -webkit-box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
          box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
  border-radius: 10px;
  overflow: hidden;
}

.about-team .team-item img {
  width: 120%;
  margin: 0;
}

.about-team .team-item .team-item-header {
  position: absolute;
  margin: 1rem;
  width: 65%;
  font-family: 'Raleway', sans-serif;
  z-index: 2;
}

.about-team .small-text {
  padding: 1rem;
}

@media all and (max-width: 768px) {
  .about {
    padding: 1rem 2rem;
  }
  .about-image {
    margin: 0;
    width: 100%;
  }
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .team {
    padding: 2rem;
  }
}

.header {
  position: absolute;
  font-family: 'Playfair', serif;
  color: #2f261b;
  width: 100%;
  z-index: 22;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
  width: 100%;
}

.header .nav-burger {
  margin: 1rem;
  width: 2.5rem;
  height: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  position: relative;
  cursor: pointer;
}

.header .line {
  background-color: #2f261b;
  width: 100%;
  height: 1px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.header .white {
  background-color: #fcfffc;
}

@media all and (max-width: 1024px) {
  .header .nav {
    padding: 1rem 1rem;
  }
  .header .nav .nav-ul {
    display: none;
  }
  .header .nav-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  background: #2f261b;
  color: #fcfffc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  position: relative;
}

.footer .logo {
  width: 5rem;
  margin: 0 auto;
}

.footer .nav-ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .nav-ul li {
  margin: .5rem auto;
}

.footer .nav-ul a.nav-item {
  color: #fcfffc;
  margin: 1rem auto;
}

.footer .social-icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.footer .footer-column.contacts a {
  margin: 1rem;
  text-decoration: none;
  display: block;
  color: #fcfffc;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.footer .footer-column.contacts .phone {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.footer .rights {
  position: absolute;
  bottom: .1rem;
  right: .1rem;
  font-size: .7rem;
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .nav-ul {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    padding: 0;
  }
  .footer .footer-column.contacts .phone {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #f9ca47;
  }
  .footer .footer-column.contacts .mail {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .footer .social-icons {
    width: 70%;
    margin: 2rem auto;
  }
}

.main-slider {
  width: 100%;
  background: #FFFDF9;
  background: url(../images/spot.png);
  position: relative;
  background-size: contain;
  background-position: 135% -100px;
  background-repeat: no-repeat;
}

.main-slider .slide {
  margin: 0;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-slider .slide .slide-header {
  color: #2f261b;
  min-width: 50%;
}

.main-slider .slide .slide-header h1 {
  padding-top: 6rem;
  padding-left: 2rem;
  margin: 0;
  font-family: 'Playfair', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.main-slider .slide .slide-header h3 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.main-slider .slide .slide-image {
  margin-top: 40px;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .slide .slide-image img {
  width: 100%;
}

.main-slider .slide-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
}

.main-slider .slide-btns .slide-btn {
  cursor: pointer;
  background: #fcfffc;
  -webkit-box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
          box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
  margin: .5rem;
  border-radius: 10px;
  border: none;
  position: relative;
  -webkit-transition: border 0.6s ease-in;
  transition: border 0.6s ease-in;
  border: 1px solid #fcfffc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.main-slider .slide-btns .slide-btn:first-child {
  margin-left: 2rem;
}

.main-slider .slide-btns .slide-btn p {
  min-width: 100px;
  padding-left: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0;
}

.main-slider .slide-btns .slide-btn .btn-icon {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #76489b;
  right: -8%;
  -webkit-transition: display 0.3s ease-in;
  transition: display 0.3s ease-in;
  color: #fcfffc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 7;
}

.main-slider .slide-btns .slide-btn.active {
  border: 1px solid #76489b;
  color: #76489b;
}

.main-slider .slide-btns .slide-btn.active .btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
}

.main-slider .social-icons .social-icon {
  margin: .5rem;
}

.main-slider .social-icons .social-icon svg {
  fill: red;
}

.main-slider .social-icons img {
  width: 30px;
  margin: .5rem;
}

@media all and (min-width: 1024px) {
  .main-slider .slide-btns .slide-btn:hover {
    border: 1px solid #76489b;
    color: #76489b;
  }
  .main-slider .slide-btns .slide-btn:hover .btn-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (max-width: 1024px) {
  .main-slider .social-icons {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .main-slider {
    background-position: 150px 0px;
    background-size: 150%;
  }
  .main-slider .slide {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0rem 0rem;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-slider .slide .slide-header {
    width: 100%;
    padding: 0 4rem;
  }
  .main-slider .slide .slide-header h1 {
    font-size: 2rem;
    padding-top: 0;
    word-wrap: break-all;
  }
  .main-slider .slide .slide-header h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .main-slider .slide .slide-image {
    width: 60%;
  }
  .main-slider .slide .slide-image img {
    margin-top: 0;
    margin-left: 4rem;
  }
  .main-slider .slide-btns {
    width: 90%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-slider .slide-btns .slide-btn:first-child {
    margin-left: 0;
  }
  .main-slider .slide-btns .slide-btn p {
    min-width: 100px;
    padding-left: 1rem;
    padding: .5rem;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
  }
  .main-slider .slide-btns .slide-btn .btn-icon {
    opacity: 0;
  }
  .main-slider .slide-btns .slide-btn.active {
    border: 1px solid #76489b;
    color: #76489b;
  }
  .main-slider .slide-btns .slide-btn.active .btn-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-slider .social-icons {
    display: none;
  }
}

.bonus {
  background: url(../images/bonus-back.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 4rem;
}

.bonus .bonus-header {
  background: linear-gradient(269.82deg, #639A00 -2.39%, rgba(196, 196, 196, 0) 85.86%);
  border-radius: 0px 50px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
}

.bonus .bonus-header h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fcfffc;
}

.bonus .bonus-header span {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #fcfffc;
  margin-left: 2rem;
}

.bonus .bonus-image {
  width: 30%;
}

@media all and (max-width: 768px) {
  .bonus .bonus-header h2 {
    font-size: 1rem;
  }
  .bonus .bonus-header span {
    font-size: 2rem;
  }
}

@media all and (max-width: 414px) {
  .bonus .bonus-image {
    display: none;
  }
  .bonus .bonus-header {
    margin: 2rem;
    margin-left: 0;
  }
}

.overlay {
  position: fixed;
  background: #76489b69;
  width: 100vw;
  color: #2f261b;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 60;
  padding-top: 4rem;
  -webkit-transition: display 0.3s ease-in;
  transition: display 0.3s ease-in;
  display: none;
}

.overlay .popup {
  position: relative;
  margin: 0 auto;
  background: #fcfffc;
  width: 50%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay .form__body {
  padding: 2rem;
}

.overlay .popup-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 2rem;
  margin: 0;
}

.overlay .message {
  opacity: 0;
  color: #FF5841;
  font-family: 'Raleway', sans-serif;
  font-size: .8rem;
  margin-bottom: .5rem;
}

.overlay .form-commit {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0;
}

.overlay .form-commit span {
  color: #76489b;
  text-transform: uppercase;
}

.overlay .popup__close {
  position: absolute;
  width: 20px;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.overlay .popup__close img {
  width: 100%;
}

.overlay input {
  display: block;
  min-width: 90%;
  outline: none;
  background: none;
  border: 1px solid #2f261b;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #2f261b;
  padding: .5rem;
  border-radius: 5px;
}

.overlay input:focus {
  outline: none;
  border: 1px solid #76489b;
}

.overlay [type='submit'] {
  display: block;
  min-width: 90%;
  outline: none;
  background: #76489b;
  color: #fcfffc;
  border: 1px solid #76489b;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 5px;
}

.overlay [type='submit']:active {
  outline: none;
  border: 1px solid #6bbd27;
  background: #6bbd27;
  color: #fcfffc;
}

.overlay [type='submit']:focus {
  outline: none;
  border: 1px solid #6bbd27;
  background: #6bbd27;
  color: #fcfffc;
}

.overlay .form-agree .checkbox_label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 0.7rem;
  color: #76489b;
  padding-left: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overlay .form-agree .checkbox_label p {
  padding-left: 2rem;
}

.overlay .form-agree .checkbox_label .message {
  position: absolute;
  bottom: -1.2rem;
  left: 0rem;
}

.overlay .form-agree .checkbox_label .check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
}

.overlay .form-agree .checkbox_label .check__box {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border: 1px solid #2f261b;
  border-radius: 5px;
  margin-left: -1rem;
  overflow: visible;
  -webkit-transition: background-image 0.3s ease-in;
  transition: background-image 0.3s ease-in;
}

.overlay .form-agree .checkbox_label .check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='33' viewBox='0 0 31 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 10.7703L14.5 28L28 3' stroke='%2376489b' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

@media all and (max-width: 768px) {
  .overlay .form__body {
    width: 80%;
  }
}

.dayli-menu {
  padding: 2rem 4rem;
  color: #2f261b;
}

.dayli-menu .order-btn {
  max-width: 200px;
  min-width: 200px;
  margin: 1rem 1rem;
  margin-bottom: 2rem;
  padding: 1rem 4rem;
}

.dayli-menu .menu-tabs .tabs-btn {
  padding: 1rem 2rem;
  background-color: #fcfffc;
  border: 1px solid #6bbd27;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 1rem 0rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: ease-in, ease-in;
          transition-timing-function: ease-in, ease-in;
  cursor: pointer;
  color: #6bbd27;
}

.dayli-menu .menu-tabs .tabs-btn p {
  margin: 0;
  font-weight: 400;
}

.dayli-menu .menu-tabs .tabs-btn:hover {
  color: #76489b;
}

.dayli-menu .menu-tabs .tabs-btn.active {
  background-color: #76489b;
  color: #fcfffc;
  border: 1px solid #76489b;
}

.dayli-menu .calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.dayli-menu .calc span {
  position: absolute;
  color: #FF5841;
  font-weight: 800;
  opacity: 0;
  top: 0;
}

.dayli-menu .calc .price {
  font-size: 1.5rem;
  font-weight: 800;
}

.dayli-menu .calc .__select {
  position: relative;
  margin: 2rem;
  margin-left: 0;
  height: 10%;
}

.dayli-menu .calc .__select[data-state="active"] .__select-title::before {
  -webkit-transform: translate(-2px, -50%) rotate(-45deg);
          transform: translate(-2px, -50%) rotate(-45deg);
}

.dayli-menu .calc .__select[data-state="active"] .__select-title::after {
  -webkit-transform: translate(2px, -50%) rotate(45deg);
          transform: translate(2px, -50%) rotate(45deg);
}

.dayli-menu .calc .__select[data-state="active"] .__select-content {
  opacity: 1;
  margin-top: 1.7rem;
}

.dayli-menu .calc .__select[data-state="active"] .__select-label + .__select-input + .__select-label {
  max-height: 10%;
  border-top-width: 1px;
}

.dayli-menu .calc .__select-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  max-height: 100%;
  min-height: 10%;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: solid 1px #6bbd27;
  cursor: pointer;
  color: #6bbd27;
}

.dayli-menu .calc .__select-title::before,
.dayli-menu .calc .__select-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #6bbd27;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.dayli-menu .calc .__select-title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

.dayli-menu .calc .__select-title:hover {
  border-color: #76489b;
}

.dayli-menu .calc .__select-title:hover::before,
.dayli-menu .calc .__select-title:hover::after {
  background-color: #76489b;
}

.dayli-menu .calc .__select-content {
  position: absolute;
  top: 40px;
  left: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fcfffc;
  border: 1px solid #f9ca47;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
  color: #2f261b;
}

.dayli-menu .calc .__select-input {
  display: none;
}

.dayli-menu .calc .__select-input:checked + label {
  background-color: #76489b;
  color: #fcfffc;
  opacity: .7;
}

.dayli-menu .calc .__select-input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.dayli-menu .calc .__select-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 1rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.dayli-menu .calc .__select-label:hover {
  background-color: #76489b;
  color: #fcfffc;
}

.dayli-menu .menu-cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dayli-menu .menu-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  list-style-type: none;
  padding-left: 0;
}

.dayli-menu .menu-cards::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px #76489b9f inset;
          box-shadow: 5px 5px 5px -5px #76489b9f inset;
  background-color: #fcfffc;
}

.dayli-menu .menu-cards::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(269.82deg, #FFCA41 -2.39%, rgba(196, 196, 196, 0) 85.86%);
}

.dayli-menu .menu-cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(269.82deg, #FFCA41 -2.39%, rgba(196, 196, 196, 0) 85.86%);
}

.dayli-menu .card {
  width: 30%;
  max-width: 300px;
  min-width: 300px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
          box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
  position: relative;
  padding-top: 230px;
  border-radius: 10px;
  overflow: hidden;
}

.dayli-menu .card .card-content {
  list-style-type: none;
  padding-right: 1rem;
  padding-left: 2rem;
}

.dayli-menu .card .card-content p {
  margin: 0;
}

.dayli-menu .card img {
  position: absolute;
  top: -20%;
  left: -10%;
  width: 115%;
}

.dayli-menu .card .card-title {
  padding: 0 2rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.dayli-menu .card .card-price {
  padding: 0 2rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2rem;
}

.dayli-menu .kcal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.dayli-menu .kcal .kcal-item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #6bbd27;
  color: #fcfffc;
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .dayli-menu {
    padding: 2rem;
  }
  .dayli-menu .calc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .dayli-menu .calc .price {
    margin: 2rem;
  }
  .dayli-menu .calc .order-btn {
    margin: 0;
  }
  .dayli-menu .menu-tabs .tabs-btn {
    font-size: .8rem;
    padding: 0.5rem 1rem;
  }
}

.faq {
  padding: 2rem 4rem;
  background: #f4f8f1;
}

.faq .accordion {
  width: 90%;
  max-width: 1000px;
  font-family: 'Raleway', sans-serif;
}

.faq .accordion .faq-mark {
  width: 2rem;
  height: 2rem;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.faq .accordion .accordion__item {
  overflow: hidden;
}

.faq .accordion .faq-item {
  border-bottom: 1px solid #f9ca47;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq .accordion .faq-item.active {
  color: #76489b;
}

.faq .accordion .faq-item.active p {
  font-weight: 500;
}

.faq .accordion .answer-item {
  -webkit-transition: max-height .3s ease-in;
  transition: max-height .3s ease-in;
}

@media all and (max-width: 768px) {
  .faq {
    padding: 2rem;
  }
}

@media all and (max-width: 414px) {
  .faq {
    padding: 0rem;
  }
  .faq .section-header {
    padding-left: 2rem;
  }
  .faq .regular-text {
    font-size: .9rem;
    line-height: 1;
  }
}

.delivery {
  padding: 2rem 4rem;
}

.delivery .map-items {
  position: relative;
}

.delivery .contacts {
  position: absolute;
  top: 10%;
  right: 0;
  padding: 2rem;
  max-width: 200px;
  min-width: 200px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 50;
  background: #6bbd27;
  color: #fcfffc;
}

.delivery .contacts p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.delivery .delivery-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delivery .delivery-card-header .delivery-card-btn {
  padding: 1rem 2rem;
  background-color: #fcfffc;
  border: 1px solid #6bbd27;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 1rem 0rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: ease-in, ease-in;
          transition-timing-function: ease-in, ease-in;
  cursor: pointer;
  color: #6bbd27;
  line-height: 1;
}

.delivery .delivery-card-header .delivery-card-btn:hover {
  color: #76489b;
}

.delivery .delivery-card-header .delivery-card-btn.active {
  background-color: #76489b;
  border: 1px solid #76489b;
  color: #fcfffc;
}

.delivery .delivery-card-content {
  padding: 0;
  max-width: 800px;
  min-height: 130px;
}

@media all and (max-width: 768px) {
  .delivery {
    padding: 2rem;
  }
  .delivery .delivery-card-header .delivery-card-btn {
    font-size: .8rem;
    padding: 0.5rem 1rem;
    width: 100px;
  }
  .delivery .delivery-card-content {
    padding: 0;
    min-height: 177px;
  }
}

@media all and (max-width: 414px) {
  .delivery .section-header {
    font-size: 1rem;
  }
  .delivery .contacts {
    top: 60%;
    max-width: 100px;
    min-width: 100px;
    padding: 1rem;
  }
  .delivery .contacts p {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .5rem;
    margin: 0.3;
  }
}

.reviews {
  padding: 2rem 4rem;
}

.reviews .reviews-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  list-style-type: none;
}

.reviews .reviews-cards a.card {
  display: block;
  text-decoration: none;
  width: 300px;
  color: #2f261b;
  background: #fcfffc;
  -webkit-box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
          box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
  border-radius: 10px;
  margin: 1rem;
}

.reviews .reviews-cards a.card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.reviews .reviews-cards a.card .card-body .card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.reviews .reviews-cards a.card .card-body .stars {
  position: absolute;
  z-index: 3;
  top: 1rem;
  left: 1rem;
}

.reviews .reviews-cards a.card .card-body .stars .star {
  width: 20px;
  height: 17px;
}

.reviews .reviews-cards a.card .card-body .instagram-icon {
  position: absolute;
  z-index: 3;
  top: 1rem;
  right: 1rem;
  -webkit-box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
          box-shadow: 15px 4px 25px 5px rgba(103, 120, 133, 0.14);
}

.reviews .reviews-cards a.card .card-body h3 {
  margin: 0;
}

.reviews .reviews-cards a.card .card-body .regular-text {
  margin: 0;
}

.reviews .reviews-cards a.card .card-body .small-text {
  margin: 0;
  padding: 1rem;
}

.reviews .reviews-cards a.card .card-body .commit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .reviews-cards a.card .card-body .commit img {
  width: 30px;
  margin: 1rem;
}

.reviews .reviews-cards::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px #76489b9f inset;
          box-shadow: 5px 5px 5px -5px #76489b9f inset;
  background-color: #fcfffc;
}

.reviews .reviews-cards::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(269.82deg, #FFCA41 -2.39%, rgba(196, 196, 196, 0) 85.86%);
}

.reviews .reviews-cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(269.82deg, #FFCA41 -2.39%, rgba(196, 196, 196, 0) 85.86%);
}

@media all and (max-width: 768px) {
  .reviews {
    padding: 2rem;
  }
  .reviews .reviews-cards {
    padding: 0;
  }
}

:root {
  font-size: 16px;
}

body {
  background-color: #fcfffc;
}
/*# sourceMappingURL=main.css.map */